
  .container{
    margin: auto;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 800px;
    height: 600px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; 
  }
  
  ul.slider li:target {
      opacity: 1; 
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: auto;
  }
  
  .menu li a{
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(94, 77, 245);
    padding: 20px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    border-radius: 100%;
  }
 
  .page-header .title {
    color: rgb(28 29 119);
    font-family: gmsj;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.page-header .title, .page-header .description, .page-header .date, .page-header .custom1, .page-header .custom2 {
    margin: 0px auto;
}
.active {
    color: #111;
    font-family: gmsj;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: center;
    text-transform: none;
    width: 100%;

}

html {
    position: relative;
}
html {
    background-color: linear-gradient(135deg, #fdfcfb 0%, rgb(122, 124, 243) 100%);
    background-image: url(94b1cf7….css);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}
html, body {
    min-height: 100%;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-family: uppercase;
    text-align: center;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
* {
    box-sizing: border-box;
}


html {
    display: block;
}
html:before {
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
html:before {
    background-color: rgb(173, 20, 211);
    display: none;
    opacity: calc(30 * 0.01);
    text-align: center;
}

head {
    display: none;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-family: uppercase;
    text-align: center;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html, body {
    min-height: 100%;
}

body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}  
html {
    text-align: auto;
    font-family: uppercase;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: mediumblue;
} 